<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666447864183-ndh65qoo5ljbaaql3a8pu81ucfhi12d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666447864183-ndh65qoo5ljbaaql3a8pu81ucfhi12d2</string>
	<key>API_KEY</key>
	<string>AIzaSyDvr-9vjuV_m21wLMoIOJWuVa7w0cn9_fQ</string>
	<key>GCM_SENDER_ID</key>
	<string>666447864183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IMDB</string>
	<key>PROJECT_ID</key>
	<string>imbd-90217</string>
	<key>STORAGE_BUCKET</key>
	<string>imbd-90217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666447864183:ios:e4ef566a8ba795d8774172</string>
	<key>DATABASE_URL</key>
	<string>https://imbd-90217.firebaseio.com</string>
</dict>
</plist>